extends layout

block title
  | #{title}

block container
  h1 #{title}
  table.table.table-hover
    tr
      th(scope="col") #
      th(scope="col") Domain
      th(scope="col") Download
      th(scope="col") Validity Range
    for entry, i in index
      tr
        th(scope="row") #{i + 1}
        td
          code
            a(href=`/inspect/${entry.domain}/fullchain`) #{entry.domain}
            if entry.sans && entry.sans.length
              ul
                for san in entry.sans
                  li #{san}
        td
          for file in entry.files
            a.btn.btn-outline-primary.btn-sm(
              role="button",
              href=file.href,
              title=file.title
              style="text-decoration: none;"
            ) #{file.title}#{" "}
            | &nbsp;
        td
          | Since&nbsp;
          abbr(title=entry.inspect.intlValidFrom) #{entry.inspect.distanceValidFrom}
          | , Expires&nbsp;
          abbr(title=entry.inspect.intlValidTo) #{entry.inspect.distanceValidTo}
